{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}BeEco | Dashboard{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'main/libs/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'main/libs/css/sb-admin-2.min.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock %}

</head>

<body id="page-top">
<!--Messages-->
{% include 'components/_message.html' %}
<!-- Page Wrapper -->
{% block wrapper %}
{% endblock %}
<div id="wrapper">

    {% block sidebar %}
    <!-- Sidebar -->
    {% include 'layouts/_sidebar.html' %}
    <!-- End of Sidebar -->
    {% endblock %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            {% block topbar %}
            <!-- Topbar -->
            {% include 'layouts/_topbar.html' %}
            <!-- End of Topbar -->
            {% endblock %}
            <!-- Begin Page Content -->
            <div class="container-fluid">

                {% block main %}
                {% endblock %}
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        {% block footer %}
        <!-- Footer -->
        {% include 'layouts/_footer.html' %}
        <!-- End of Footer -->
        {% endblock %}
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Готовы выйти?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Выберите «Выход» ниже, если вы готовы завершить текущий сеанс.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Отменить</button>
                <a class="btn btn-primary" href="{% url 'logout_request' %}">Выйти</a>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript-->
<script src="{% static 'main/libs/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'main/libs/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'main/libs/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'main/libs/js/sb-admin-2.min.js' %}"></script>

{% block charts %}
{% endblock %}


{% block js %}
{% endblock %}
</body>

</html>