{% extends 'base.html' %}

{% block title %}BeEco | LogIn{% endblock %}


{% block sidebar %}
{% endblock %}
{% block topbar %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block main %}
{% endblock %}
{% block wrapper %}
<div class="bg-light d-flex align-items-center justify-content-center" style="height: 100vh">
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background-image: url('https://img.graphicsurf.com/2020/06/Ecology-concept-with-Earth-illustration.jpg'); background-size: contain; background-repeat: no-repeat"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">С Возвращением в <b>Be<span class="text-success">Eco</span></b>!</h1>
                                    </div>
                                    <form action="{% url 'login_request' %}" method="POST" enctype="multipart/form-data" class="user">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-success btn-block">
                                            Войти
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'register' %}">Создайте аккаунт!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
{% endblock %}