{% extends 'base.html' %}
{% load static %}
{% block title %}
BeEco | Профиль
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-12 col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-success">Профиль</h6>
            </div>
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="d-flex" style="gap: 32px;">
                        {% if p_form.instance.image %}
                        <div>
                            <img src="{{ p_form.instance.image.url }}" alt="profile_image" width="200px">
                        </div>
                        {% endif %}
                        <div>
                            {{ p_form.as_p }}
                            {{ u_form.as_p }}
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}